.calculator-container {
  display: flex;
  text-align: center;
  height: 530px;
  margin: 0 auto 0;
  width: 93%;
  border: #810ca8 2px solid;
}

.calculator-container > h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #810ca8;
}

.calculator {
  margin: 100px auto 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 420px;
  border: 1px solid #000;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.calculator-show {
  width: 95%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: #ccc;
  align-items: center;
}

.key {
  font-family: sans-serif;
  width: 100px;
  height: 70px;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #fff;
  border: 1px solid #000;
}

.calculator-con {
  display: flex;
  flex-direction: row;
}

.input-keys {
  display: flex;
  flex-direction: column;
}

.operator-keys {
  display: flex;
  flex-direction: column;
}

.function-keys {
  display: flex;
  flex-direction: row;
}

.digit-keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.key0 {
  flex-grow: 2;
}

.orange-key {
  background-color: orange;
}

.keydot {
  font-size: 5px;
}

.key:hover {
  background-color: #ccc;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.key:active {
  background-color: #fff;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.orange-key:hover {
  background-color: orange;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.orange-key:active {
  background-color: orange;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
